:root {
  --base-strong: #0d1117;
  --base-weak: #c9d1d9;
  --secondary-strong: #161b22;
  --secondary-weak: #8b949e;
  --primary: #634df4;
  --accent: #4bd2a4;
  --warning: #d25b4b;
  --modal-bg: rgba(0,0,0, 0.7);
}
